body {
  background: url(../images/spots_background_light_blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.body-app {
  width: 768px;
  padding: 0;
  margin: 0 auto;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 0px 80px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 80px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 80px -10px rgba(0,0,0,0.75);
}

.left-header,
.right-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  color: #767676;
}

.left-header {
  text-align: center;
  position: relative;

  .btn-add-project {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
  }

  .btn-delete-project {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
}

.side-pane {
  width: 200px;
  float: left;
  position: absolute;
  top: 0;
  left: 0;

  .project-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      a {
        display: block;
        text-decoration: none;
        padding: 10px 5px;

        &:hover {
          background-color: #E9ECF3;
        }
      }

      &.active {
        a {
          background-color: #D5DDF0;
        }
      }
    }
  }
}

.work-matrix {
  margin-left: 200px;
  border-left: 1px solid #ccc;
  min-height: 400px;

  .matrix {
    min-height: 200px;
    position: relative;
    padding-top: 25px;

    p {
      margin: 0;
      padding: 0;
    }

    .matrix-1 {
      background-color: #F8E3E2;

      .title {
        background-color: #FFA19D;
      }
    }

    .matrix-2 {
      background-color: #F5F7E1;

      .title {
        background-color: #EFF79D;
      }
    }

    .matrix-3 {
      background-color: #DCEAF5;

      .title {
        background-color: #ADD6F7;
      }
    }

    .matrix-4 {
      background-color: #EDF7EF;

      .title {
        background-color: #B0F9BF;
      }
    }

    .title {
      position: absolute;
      padding-left: 5px;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}
