<template name="projectDetail">
  <div class="row">
    <div class="col-sm-6 matrix matrix-1">
        <p class="title">Urgent and important</p>
        {{#with todos this}}
          {{#each ui}}
            <p>{{this}}</p>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No tasks here</div>
              <div class="subtitle-message">Double click to add new task</div>
            </div>
          {{/each}}
        {{/with}}
    </div>
    <div class="col-sm-6 matrix matrix-2">
        <p class="title">Less urgent but important</p>
        {{#with todos this}}
          {{#each lui}}
            <p>{{this}}</p>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No tasks here</div>
              <div class="subtitle-message">Double click to add new task</div>
            </div>
          {{/each}}
        {{/with}}
    </div>
    <div class="col-sm-6 matrix matrix-3">
        <p class="title">Urgent, but less important</p>
        {{#with todos this}}
          {{#each uli}}
            <p>{{this}}</p>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No tasks here</div>
              <div class="subtitle-message">Double click to add new task</div>
            </div>
          {{/each}}
        {{/with}}
    </div>
    <div class="col-sm-6 matrix matrix-4">
        <p class="title">Neither urgent nor important</p>
        {{#with todos this}}
          {{#each nui}}
            <p>{{this}}</p>
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">No tasks here</div>
              <div class="subtitle-message">Double click to add new task</div>
            </div>
          {{/each}}
        {{/with}}
    </div>
  </div>
</template>